body {
  background-color: #E0CABC;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.left-container img {
  width: 80%;
  height: 80%;
  margin-left: 20%;
}


.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  padding: 20px;
}

.mcq-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: 'Rosario', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.quiz-title {
  font-size: 1.8rem;
  font-weight: 600;
  color:#373434;
}

.quiz-para {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0;
  color: #373434;
}

.sub-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}