body {
    background-color: #FF646D;
    font-family: 'Raleway', sans-serif;
  }

.result-container {
    display: flex;
    align-items: center;  
    justify-content: center; 
}

.sub-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 100px;
    background-color: #ffffff;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.sub-result img {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

.sub-result h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 8px;
    text-transform: uppercase;
}

.sub-result button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    border-radius: 5px;
    text-transform: uppercase;
}